:host {

  justify-content: center;
  margin: 100px 0;

}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;

}

mat-card {
  margin-bottom: 16%;
  margin-top: 2%;
  width: 20%;
}
button {
  width: 100%;
}