<div id="slider" class="slider-small">
    <h1>About</h1>
</div>
<mat-card class="card-about">
  <mat-card-header>
    <mat-card-title>About SimRacingReviews</mat-card-title>
    <mat-card-subtitle>Version 0.0.1</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="text-align: left;">
    <p>
      Desde SimRacingReviews pretendemos analizar, comentar, criticar o alabar (si fuera el caso) vehículos, trazados o plugins y programas externos de varios simuladores de conducción, centrándonos principalmente en aquellos que a nuestro entender se ajustan más al concepto de 'Simulador' que a los que tienen una idea más arcade.
    </p>
    <p>
      Esperamos que la información, el contenido audiovisual o los meros comentarios que que se incluyan en esta web os sean de utilidad y/o entretenimiento. 
    </p>
    <p>
      Aprieta el acelerador, Simracer!
    </p>    
  </mat-card-content>
</mat-card>

    <footer id="footer" style="position: absolute; bottom: 0;">
            <div class="center">
                <p>
                    &copy; SimRacingReviews 
                </p>
            </div>
        </footer>
