.mat-card {
	background: #fff;
	color: #000;
	width: 80%;
	margin: 1% auto;
	padding: 2%;

	.mat-card-title: {
		font-size: 2rem;
		text-transform: uppercase;
	}
	.mat-card-content {
		width: 80%;
		text-align: center;
		margin: 0 auto;
		p.content {
			text-align: initial;
		}
	}

	img {
		width: 40%;
		height: 30%;
		border-radius: 6px;
	}

	iframe {
		width: 40%;
		height: 80%;
		border-radius: 6px;
		margin-top: -16px;
	}

	.align-center{
		text-align: center;
		clear: both;
		display: block;
		margin: 6px auto;
	}
}
.download_link{
    color: blue;
    cursor: pointer;
}

