.container {
  margin-top: 25px;
  display: block;

  a{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
  }
    .post-card {
      width: 25%;
      background: #000000;
      color: #fff;
      border-radius: 5px;
      padding: 20px;
      font-size: 150%;
      margin-bottom: 30px;
      margin-left: 10%;
      border: 10px solid lightgray;
      img{
        height: 200px;
      }
      p.content{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis

      }
    }
}