
<div id="slider" class="big">
    <h1>Bienvenido a SimRacingReviews Spain</h1>
    <a [routerLink]="['/blog']" class="btn-white">Ir al blog</a>
</div>
<ng-template #loading>
  <div class="container-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
        <div class="center" *ngIf="postsDate$ | async as posts; else loading">
            <section id="content">
                <h2 class="subheader" id="subheader_last_or_new">Últimas Reviews</h2>
                <!--Listado articulos-->
                <div id="articles" class="last_articles" *ngFor="let post of posts.slice(0, 4)">
                    <article class="article-item" id="article-template">
                        <div class="image-wrap">
                            <img [src]="post.imagePost" />
                        </div>
                        <h2>{{post.titlePost}}</h2>
                        <span class="date">
                            {{ post.datePost}}
                        </span>
                        <a [routerLink]="['/post', post.id]" style="margin-bottom: 15px;">Leer más</a>
						<mat-card-actions>
							<mat-chip-list>
								<mat-chip *ngFor="let tag of post.tagsPost" [ngClass]="tag">
                                    <span style="font-weight: bold;" *ngIf="tag == 'rf1';">
                                        Rfactor 1
                                    </span>                                     
                                    <span style="font-weight: bold;" *ngIf="tag == 'rf2';">
                                        Rfactor 2
                                    </span>  
                                    <span style="font-weight: bold;" *ngIf="tag == 'ams';">
                                        Automobilista
                                    </span>   
                                    <span style="font-weight: bold;" *ngIf="tag == 'assetto';">
                                        Assetto Corsa
                                    </span>  
                                    <span style="font-weight: bold;" *ngIf="tag == 'rbr';">
                                        Richard Burns Rally
                                    </span>                                       					
								</mat-chip>
							</mat-chip-list>
						</mat-card-actions>
                        <div class="clearfix"></div>
                    </article>
                    <!--AÑADIR ARTICULOS VIA JS--> 
                </div>
                <div id="articles_search" class="articles_found" *ngFor="let post of posts" style="display: none;">
                    <article  class="article-item" id="article-template_search">
                        <div class="image-wrap">
                            <img [src]="post.imagePost" />
                        </div>
                        <h2 class="titulo">{{post.titlePost}}</h2>
                        <span class="date">
                            {{ post.datePost}}
                        </span>
                        <a [routerLink]="['/post', post.id]">Leer más</a>
                        <mat-card-actions>
                            <mat-chip-list>
                                <mat-chip *ngFor="let tag of post.tagsPost" [ngClass]="tag">
                                    <span style="font-weight: bold;" *ngIf="tag == 'rf1';">
                                        Rfactor 1
                                    </span>                                     
                                    <span style="font-weight: bold;" *ngIf="tag == 'rf2';">
                                        Rfactor 2
                                    </span>  
                                    <span style="font-weight: bold;" *ngIf="tag == 'ams';">
                                        Automobilista
                                    </span>   
                                    <span style="font-weight: bold;" *ngIf="tag == 'assetto';">
                                        Assetto Corsa
                                    </span>  
                                    <span style="font-weight: bold;" *ngIf="tag == 'rbr';">
                                        Richard Burns Rally
                                    </span>                                                         
                                </mat-chip>
                            </mat-chip-list>
                        </mat-card-actions>
                        <div class="clearfix"></div>
                    </article>
                    <!--AÑADIR ARTICULOS VIA JS--> 
                </div>
            </section>
            <aside id="sidebar">
                <div id="search" class="sidebar-item">
                    <h3>Buscador</h3>
                    <p>Encuentra el artículo que buscas</p>
                    <div>
                        <input type="text" id="id_buscador" name="buscador"/>
                    </div>
                    <input type="button" value="Buscar" class="btn"  id="boton_buscar" (click)="cogerElementos();"/>
                </div>
                <div style="margin-top: 40px;">
                    <h3>ÚLTIMOS COMENTARIOS</h3>
                    <div *ngIf="comments$ | async as comments;">
                        <div *ngFor="let comment of comments.slice(0, 4)" class="commented-home">
                            <span style="font-weight: bold;">{{ comment.nombrePost }}</span>
                            <span> comentó el {{ comment.datePost }} </span>
                            <span style="font-style: italic;">{{ comment.comentarioPost}}</span>
                            <span>{{ comment.titlePost}}</span>                            
                        </div>  
                    </div>
                </div>   
            </aside>          
            <div class="clearfix"></div>
            <div style="margin-top: 25px; margin-bottom: 5px;">
              <a href="https://www.cerotec.net/estadisticas-133623/simracingreviews-5dcb9.web.app" title="contador de visitas">
                <img src="https://www.cerotec.net/contador.php?t=2&s=2&i=133623" alt="www.cerotec.net">
              </a>
            </div>            
        </div>
